/*Summary Subreport*/
#progress-subreport-sum {
    /*padding-top:2em;
    margin-top:2em;
    border-top: 2px dotted #000;*/
    clear:both;
    height:40em;
    page-break-before: always;
}
#progress-subreport-sum h3{
    /*padding-left:.5em;
    padding-top:.5em;
    color:#fff;
    background-color:#666;*/
    text-decoration:underline;
}
#progress-subreport-sum h4{
    clear:both;
    padding-left:1em;
    padding-top:1em;
    text-decoration:underline;
}
#progress-subreport-sum dl{
    clear:both;

}
#progress-subreport-sum dt{
clear:both;
float:left;
padding-left:1em;
padding-top:1em;
height:1.5em;
}
#progress-subreport-sum dd{
float:left;
padding-top:1em;
height:1.5em;
}