/*Category Subreport*/
#progress-subreport-cat {
    padding-top:2em;
    margin-top:2em;
    border-top: 2px dotted #000;
    clear:both;
}
#progress-subreport-cat h3{
     /*
    padding-left:.5em;
    padding-top:.5em;
   color:#fff;
    background-color:#666;*/
    text-decoration:underline;
}
#progress-subreport-cat ul {
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}
#progress-subreport-cat ul li {
    clear:both;
    height:13em;
    margin:0;
    padding:0;
}
#progress-subreport-cat ul li h4{
    padding-left:.5em;
    padding-bottom:.1em;
    padding-top:.1em;
    color:#fff;
    background-color:#666;    
}

#progress-subreport-cat ul li p{
    padding-left:.5em;
    padding-bottom:.1em;
    padding-top:.1em;
}

#progress-subreport-cat ul li dl{
    
}
#progress-subreport-cat ul li dl dt{
clear:both;
float:left;
padding-left:.5em;
padding-top:1em;
height:1.5em;
}

#progress-subreport-cat ul li dl dd{
float:left;
padding-top:1em;
height:1.5em;
}